*
{
font-family: 'Times New Roman', Times, serif;}

body{
background-color: #000000;
width: 100vw;
height: 50vw;
    position: static;
}

#outer{

    
    width: 100vw;
    height: 40vw;
    
    position: absolute;
right: 0%;
top: 20%;
}




#head{

font-size: 5vw;
text-align: center;
font-family: serif;
font-style: italic;
color:#000000;
border-style: double ;
border-top: #FEA336;
background-color: #FEA336;
font-style: oblique;

 }
.position
{
position: absolute;
left: 15vw;

}

.button
{
border: 4px solid #FEA336;
background-color: #FEA336;
color: #000000;
text-decoration: none;
font-size: 2vw;
font-style: oblique;
font-family: serif;
}

div.relative{

    position: absolute;
left: 45vw;
top: 44vw;




}

#student
{
position: absolute;
top: 20%;
right: 10vw;

}

#teacher{

position: absolute;
top: 16%;
left: 5vw;


}

#para{

    position: absolute;
    font-family: serif;
    font-size: 2.3vw;
   
   
    border: solid #000000;
    outline-style: double;
    text-align: center;
    text-shadow:2px 2px 4px #FEA336;
    text-decoration: double;
    width: 40vw;
    height: 10vw;
    bottom:20vw;
    left: 28vw;

}
