@media screen and  (min-width: 992px)

{

* {box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{

margin: 0 auto;

}
.container{

height: auto;
width: 100%;
margin: 0;
background-color: rgb(255, 255, 255);
position: absolute;




}
.heading
{
text-align: center;
}

#div1{
position: absolute;
top: 150px;
    width: 30%;
    height: 250px;
    
    margin-left: 4%;
    margin-right: 2%;
    border: 2px solid black;
    background-color: gray;
    padding: 5px;



}

#div2{
position: absolute;
top: 150px;
left: 33%;
    width: 30%;
    height: 250px;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid black;
    background-color: gray;
    padding: 5px;

}

#div3{

position: absolute;
top: 150px;
left: 64%;

    width: 30%;
    height: 250px;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid black;
    background-color: gray;
    padding: 5px;

}
#divinside1{

position: absolute;
border-left: 2px solid black;
border-bottom:2px solid black ;
background-color: pink;
width: 150px;
height: 40px;
top: 0%;
right: 0%;
text-align: center;

}
#divinside2{

    position: absolute;
    border-left: 2px solid black;
    border-bottom:2px solid black ;
    background-color: rgb(114, 27, 42);
    width: 150px;
    height: 40px;
    top: 0%;
right: 0%;
    text-align: center;
    color: #ffffff;
    
    }
    #divinside3{

        position: absolute;
        border-left: 2px solid black;
        border-bottom:2px solid black ;
        background-color: rgb(242, 255, 62);
        width: 150px;
        height: 40px;
        top: 0%;
right: 0%;
        text-align: center;
        
        
        }

        p{

            font-size: 20px;
            
            

        }

        h2{

font-size: 20px;
margin-top: 5px;}


  
            

}





@media screen and  (min-width: 768px) and (max-width:991px){


    
    
    * {box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
    }
    
    body{
    
    margin: 0 auto;
    
    }
    .container{
    
    height: auto;
    width: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    
    
    
    
    }
    .heading
    {
    text-align: center;
    }
    
    #div1{
    position: absolute;
    top: 150px;
        width: 46%;
        height: 320px;
        
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 4px;
        padding: 5px;
        border: 2px solid black;
        background-color: gray;
    
    
    }
    
    #div2{
    position: absolute;
    top: 150px;
    left: 50%;
        width: 46%;
        height: 320px;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 1%;
        padding: 5px;
        border: 2px solid black;
        background-color: gray;
    
    }
    
    #div3{
    
    position: absolute;
    top: 500px;
    left: 0%;
    
        width: 96%;
        height: 300px;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        border: 2px solid black;
        background-color: gray;
        padding: 5px;
    
    }
    #divinside1{
    
    position: absolute;
    border-left: 2px solid black;
border-bottom:2px solid black ;
    background-color: pink;
    width: 150px;
    height: 40px;
    top: 0%;
    right: 0%;
    text-align: center;
    
    }
    #divinside2{
    
        position: absolute;
        border-left: 2px solid black;
border-bottom:2px solid black ;
        background-color: rgb(114, 27, 42);
        width: 150px;
        height: 40px;
        top: 0%;
    right: 0%;
        text-align: center;
        color: #ffffff;
        
        }
        #divinside3{
    
            position: absolute;
            border-left: 2px solid black;
            border-bottom:2px solid black ;
            background-color: rgb(242, 255, 62);
            width: 150px;
            height: 40px;
            top: 0%;
    right: 0%;
            text-align: center;
            
            
            }
    
            p{
    
                font-size: 25px;
                
                
    
            }
    
            h2{
    
    font-size: 20px;
    margin-top: 5px;}
    



}


@media screen and (max-width:767px){


    
    
    * {box-sizing: border-box;
        font-family: 'Times New Roman', Times, serif;
    }
    
    body{
    
    margin: 0 auto;
    
    }
    .container{
    
    height: auto;
    width: 100%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    
    
    
    
    }
    .heading
    {
    text-align: center;
    }
    
    #div1{
    position: relative;
    top: 50%;
        width: 80%;
        height: auto;
        padding: 5px;
        margin-left: 10%;
        margin-top: 10%;
        
        border: 2px solid black;
        background-color: gray;
    
    
    }
    
    #div2{
    position: relative;
    
    margin-left: 10%;
    margin-top: 10%;
    
        width: 80%;
        height: auto;
        padding: 5px;
        padding-bottom: 5%;

        
        border: 2px solid black;
        background-color: gray;
    
    }
    
    #div3{
    
    position: relative;
    
    margin-left: 10%;
    margin-top: 10%;
    
        width: 80%;
        height: auto;
        padding: 5px;

        
        border: 2px solid black;
        background-color: gray;
    
    }
    #divinside1{
    
    position: absolute;
    border-left: 2px solid black;
border-bottom:2px solid black ;
    background-color: pink;
    width: 150px;
    height: 40px;
    top: 0%;
    right: 0%;
    text-align: center;
    
    }
    #divinside2{
    
        position: absolute;
        border-left: 2px solid black;
border-bottom:2px solid black ;
        background-color: rgb(114, 27, 42);
        width: 150px;
        height: 40px;
        top: 0%;
    right: 0%;
        text-align: center;
        color: #ffffff;
        
        }
        #divinside3{
    
            position: absolute;
            border-left: 2px solid black;
            border-bottom:2px solid black ;
            background-color: rgb(242, 255, 62);
            width: 150px;
            height: 40px;
            top: 0%;
    right: 0%;
            text-align: center;
            
            
            }
    
            p{
    
                font-size: 20px;
                
                
    
            }
    
            h2{
    
    font-size: 20px;
    margin-top: 5px;}
    



}